* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    max-width: 123.1rem;
    padding: 1.5rem;
    margin: 0 auto;
}